@{
  ViewData["Title"] = "Accounts";
}

@using System.IdentityModel.Tokens.Jwt;
@using System.Security.Claims;

<h1>Accounts Page</h1>

@if (Context.Request.Cookies["jwtCookie"] != null)
{
  <p>Hello</p>
}
else
{
  <p>Your ass is grass seabass.</p>
}

<p>@Html.ActionLink("Register", "Register")</p>
<p>@Html.ActionLink("Login", "Login")</p>